:root {
  --body-color: #d6d6d6;
  --text-blue: #55acee;
  --white: #ffffff;
  --text-dark-blue: #1163a0;
  --navbar-color: lightgray;
  --camera-di: "../camera.svg":
  --mt-title-supp: 15px;
  --ml-title-supp: 20px;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--body-color);
  background-image: url("../title-icon.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.div-title {
  position: absolute;
  width: 419px;
  height: 181px;
  left: 57px;
  top: 220px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 81px;

  color: var(--text-dark-blue);
}
.title-div-supp {
  position: absolute;
  width: 577px;
  height: 178px;
  left: 57px;
  top: 389px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  color: var(--text-dark-blue);
}
.get-started-btn {
  text-align: left;
  margin-top: 40px;
}
.get-started-btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 23px 72px;
  position: absolute;
  width: 280px;
  height: 76px;
  left: 57px;
  top: 641px;

  font-weight: bolder;
  color: var(--text-dark-blue);

  background: var(--body-color);
  border: 0px;
  box-shadow: 5px 4px 10px;
  border-radius: 41px;
}
.get-started-btn button:hover {
  background-color: var(--text-blue);
  color: var(--white);
  border-color: var(--text-blue);
}

#navbar-style {
  background-color: var(--navbar-color);
}
#nav-title {
  color: var(--text-blue);
  font-weight: bolder;
  font-size: large;
}
#navlink {
  color: var(--text-blue);
  text-decoration: none;
  margin: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: medium;
}
#navlink:hover {
  color: var(--white);
  border-radius: 15px;
  background: var(--text-blue);
}
#category-icons{
  margin-top: 70px;
  padding-right: 50px;
  text-align: right;
}
#category-icons div{
  margin-bottom: 30px;
}
