:root {
  --body-color: #d6d6d6;
  --text-blue: #55acee;
  --white: #ffffff;
  --text-dark-blue: #1163a0;
  --navbar-color: lightgray;
  --mt-title-supp: 15px;
  --ml-title-supp: 20px;
}

body {
  background-color: var(--body-color);
  background-image: url("../title-icon.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.div-title {
  width: 650px;
  padding-left: 37px;
  padding-top: 150px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 81px;

  color: var(--text-dark-blue);
}
.title-div-supp {
  width: 577px;
  height: 178px;
  padding-left: 37px;
  padding-top: 29px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  color: var(--text-dark-blue);
}
.get-started-btn {
  text-align: left;
  margin-top: 40px;
}
.get-started-btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 23px 72px;
  position: absolute;
  width: 280px;
  height: 76px;
  left: 57px;
  top: 641px;

  font-weight: bolder;
  color: var(--text-dark-blue);

  background: var(--body-color);
  border: 0px;
  box-shadow: 5px 4px 10px;
  border-radius: 41px;
}
.get-started-btn button:hover {
  background-color: var(--text-blue);
  color: var(--white);
  border-color: var(--text-blue);
}

#navbar-style {
  background-color: var(--navbar-color);
}
#nav-title {
  color: var(--text-blue);
  font-weight: bolder;
  font-size: large;
}
#navlink {
  color: var(--text-blue);
  text-decoration: none;
  margin: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: medium;
}
#navlink:hover {
  color: var(--white);
  border-radius: 15px;
  background: var(--text-blue);
}
#category-icons {
  margin-top: 70px;
  padding-right: 15px;
  text-align: right;
}
#category-icons div {
  margin-bottom: 30px;
}

#search-div {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 350px;
  padding-left: 350px;
}

.search-label {
  width: 462px;
  height: 61px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;

  color: var(--text-dark-blue);
}

.search-field {
  text-align: center;
  height: 79px;
  width: 750px;
  margin-left: 220px;

  background: #c6c3c3;
  border: 1px solid var(--text-dark-blue);
  border-radius: 39.5px;
}

.search-btn{
  width: 150px;
  height: 76px;

  font-weight: bolder;
  color: var(--text-dark-blue);

  background: var(--body-color);
  border: 0px;
  box-shadow: 5px 4px 10px;
  border-radius: 41px;
}

.search-btn:hover{
  background-color: var(--text-blue);
  color: var(--white);
  border-color: var(--text-blue);
}