{% import "components.html" as components %}
<!-- Extending from the base template -->
{% extends "base.html" %}

<!-- Titler block from the base template -->
{% block title %} Search {% endblock %}

<!-- Head block where all the imports are included from the base tempalate -->
{% block head %} {{super()}} {% endblock %} {% block body %} {{ components.nav()
}}
<div class="container">
      <table class="table table-striped">
        <tr>
          <th>Time</th>
          <th>Handle Searched</th>
          <th>Prediction</th>
        </tr>
        {% for s in session: %}
        <tr>
          <td>{% print(s) %}</td>
          <td>{% print(session[s][0]) %}</td>
          <td>{% print(session[s][1]) %}</td>
        </tr>
        {% endfor %}
      </table>
      <div class="del-link">
        <a href="{{url_for('delSession')}}">Delete History</a>
      </div>
</div>
{% endblock body %}
