{% extends "base.html" %} {% block title %} Profile Categorizer {% endblock %}
{% block head %} {{super()}} {% endblock %} {% block body %} {% block navbar
%}{{super()}}{% endblock %}
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="div-title">Make your search easy!!</div>
      <div class="title-div-supp">
        We provide you a system to search for specific category out of million
        profiles available on Twitter. Just hit the search button and get to
        your desired profile. You can also dig deep into your any desired
        category.
      </div>
      <div class="get-started-btn">
        <button>Get Started</button>
      </div>
    </div>
    <div class="col-6">
      <div class="col" id="category-icons">
        <div class="row-2">
          <img src="../static/people.svg" alt="" class="politician" />
        </div>
        <div class="row-2">
          <img src="../static/education-icon.svg" alt="" class="politician" />
        </div>
        <div class="row-2">
          <img src="../static/football.svg" alt="" class="politician" />
        </div>
        <div class="row-2">
          <img src="../static/camera.svg" alt="" class="politician" />
        </div>
        <div class="row-2">
          <img src="../static/music.svg" alt="" class="politician" />
        </div>
        <div class="row-2">
          <img src="../static/theatre.svg" alt="" class="politician" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
