{% import "components.html" as components %} 
<!-- Extending from the base template -->
{% extends "base.html" %} 

<!-- Titler block from the base template -->
{% block title %} Search {% endblock %} 

<!-- Head block where all the imports are included from the base tempalate -->
{% block head %} {{super()}} {% endblock %} 
{% block body %} 
    {{ components.nav() }}
    <div class="container-fluid">
        <!-- Grid of two columns -->
        <div class="row">

            <!-- First column -->
            <div class="col-10">
                <form action="{{ url_for('predict')}}" method="POST">
                    <div id="search-div">
                        <label for="search" class="search-label">Search Profile</label><br>
                        <div class="input-group">
                            <input type="text" name="user_url" class="search-field" placeholder="Enter Profile @Handle here" />
                            <button type="submit" class="search-btn" value="predict"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Second Column -->
            <div class="col-2">
                {{ components.sideIcons() }}
            </div>
        </div>
    </div>
{% endblock %}
